@font-face {
  font-family: "iconfont"; /* Project id 2816914 */
  src: url('//at.alicdn.com/t/font_2816914_a86xtzz6t7.woff2?t=1633063070896') format('woff2'),
  url('//at.alicdn.com/t/font_2816914_a86xtzz6t7.woff?t=1633063070896') format('woff'),
  url('//at.alicdn.com/t/font_2816914_a86xtzz6t7.ttf?t=1633063070896') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-arrow-right:before {
  content: "\e665";
}

.icon-arrowleft:before {
  content: "\e60c";
}

.icon-youxiang:before {
  content: "\e60b";
}

.icon-remove:before {
  content: "\e6f0";
}

.icon-shouji:before {
  content: "\e648";
}

.icon-tuijian:before {
  content: "\e6d5";
}

.icon-fuwuzhongxin1:before {
  content: "\e600";
}

.icon-duigou:before {
  content: "\e60f";
}

.icon-gouwuche:before {
  content: "\e601";
}

.icon-fenxiang:before {
  content: "\e6b7";
}

.icon-sousuo:before {
  content: "\e619";
}

.icon-geren:before {
  content: "\e612";
}

.icon-fcstubiao:before {
  content: "\e614";
}

.icon-jia:before {
  content: "\e683";
}

.icon-thumb:before {
  content: "\e603";
}

.icon-xuanxiang:before {
  content: "\e604";
}

.icon-fuwuzhongxin:before {
  content: "\e61c";
}

.icon-jifen:before {
  content: "\e654";
}

.icon-order:before {
  content: "\e605";
}

.icon-guanbi:before {
  content: "\e629";
}

.icon-U:before {
  content: "\e607";
}

.icon-xin:before {
  content: "\e608";
}

.icon-huiyuan1-01:before {
  content: "\e606";
}

.icon-order1:before {
  content: "\e609";
}

.icon-ss:before {
  content: "\e60a";
}
